.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-pulse infinite 2s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 160px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.10, 1.10, 1.10);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
